.home{

    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url("../assets/img/fondo-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-home{
    height: 200px;
    width: 55%;
    display: flex;
    align-items: center;
    margin-top: 15%;
    padding-left: 75px;
    background-image: url("../assets/img/fondo-home-container.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}

.container-home p{
    color: white;
    font-size: 48px;
    font-weight: bold;
}

@media screen and (max-width:320px){
    
    .container-home{
        display: flexbox;
        align-items: initial;
        margin-top: 180px;
        padding-left: 25px;

    }
    .container-home p{
        font-size: 24px;
    }
}