/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');
/* Inicio estilos Generales */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Fin estilos generales */



/* Inicio estilos nav header */
header {
    max-width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 28px;
    position: absolute;
    z-index: 1000;
}

.container-header-logo {
    justify-items: center;
    padding: 15px;
}

.container-header-logo img{
    width: 150px;
}

.container-header-icons {
    text-align: end;
    padding: 20px 50px 0;
}

.container-header-icons a {
    color: #9be644;
}

.container-link-nav {
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
}

.container-link-nav .linl-nav {
    display: flex;
    justify-self: center;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #9be644;

}

.container-link-nav .image-lin-nav {
    margin: 10%;
}

.container-link-nav a img {
    width: 80%;
}

.container-link-nav .linl-nav:hover {
    background-color: #9be644;
    color: white;
    border-radius: 100px;
    transition: 1s;
}

.container-link-nav a img:hover {
    width: 85%;
    transition: 00.5s;
}
/* Fin estilos nav header */

/* Inicio estilos Home */

main{
    position: relative;
    margin: 0;
}

.Home{
    height: 520px;
    background-image: url("../assets/img/fondo-main.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Home-text{
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-right: 350px;
    padding-left: 28px;   
}

.Home-text p{
    background-image: url("../assets/img/fondo-home-container.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 280px;
    color: white;
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Fin estilos Home */

/* estilo Hero */

.hero{
    height: 500px;
    background-image: url("../assets/img/fondo-hero.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-imagen{
    display: grid;
    justify-content: center;
}

.hero-imagen img{
    width: 350px;
}

.hero-description p{
    padding: 0 290px;
    text-align: center;
    font-size: 21px;
    font-family:'Source Sans Pro', sans-serif;
    color: gray;
}

.hero-description p strong{
    color: #9be644;
}

.hero-add-tag {
    display: grid;
    justify-content: center;
}

.hero-add-tag a img{
    width: 350px;
}

.hero-add-tag a img:hover{
    width: 370px;
    transition: 1s;
}
/* Fin estilo Hero */

/* Inicio estilos container Description */

.container-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("../assets/img/fondo-container-description.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
.text-container-description{
    padding: 0 25px;
}

.title-container-description p{
    font-size: 45px;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: black;
    text-align: justify;
}
.text-description{
    color: grey;
    font-size: 24px;
    text-align: justify;
}
.imagen-container-description{
    display: grid;
    justify-items: right;
}
.imagen-container-description img{
    width: 600px;
}   

/* Fin estilos container Description */

/* Inicio estilos container-item */

/* Inicio estilos seccion-item */
.seccion-items{
    margin: 0;
    padding: 0;
    background-image: url("../assets/img/fondo-container-items.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
    padding: 80px
}
.container-items-box{
    padding: 0 30px;
    text-align: center;
}

.container-items-image{
    height: 180px;
    max-height: 200px;
    display: grid;
    align-items: center;
    justify-items: center;
}
.container-items-image img{
    width: 150px;
}
.container-item-title p{
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.container-item-description {
    font-size: 20px;
    color: white;
}

/* ------ Diseño resposive */
@media(max-width: 798px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container-header-icons {
        display: none;
    }

    .Home-text{
        padding-right: 140px;
    }

    .Home-text p{
        background-size: 65%;
        font-size: 35px;
    }

    .hero{
        height: 540px;
    }
    .hero-description p{
        padding: 0 5%;
        text-align: center;
        font-size: 21px;
        font-family:'Source Sans Pro', sans-serif;
        color: gray;
    }

    .container-description{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
        gap: 0;
    }

    .text-container-description{
        grid-row: 2;
    }

    .imagen-container-description{
        display: grid;
        justify-items: center;
    }

    .imagen-container-description img{
        width: 400px;
        border-image: 80px solid white;
    }

    .container-items{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        gap: 5px;
    }

    .container-items-image{
        height: auto;
    }
    .container-items-image img{
        width: 180px;
    }
    
}

/* Responsive Phone 320px */
@media screen and (max-width:320px) {
    .container-header-logo img {
        width: 100%;
    }

    .container-link-nav {
        display: flexbox;
        height: 10px;
        flex-wrap: wrap;
        text-align: center;
        margin: 0;
        padding-right: 15px;


    }

    .container-link-nav .linl-nav {
        font-size: 14px;
        margin-bottom: 10px;
        padding: 0;

    }
    .Home{
        height: 350px;
    }
    .Home-text{
        padding-right: 20px;
    }

    .Home-text p{
        background-size: 60%;
        font-size: 30px;
    }

    .hero-description p{
        padding: 0 5%;
        text-align: center;
        font-size: 18px;
        font-family:'Source Sans Pro', sans-serif;
        color: gray;
    }
}